.center { 
    height: 100vh;
    position: relative;
  }
  
  .center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.blackk {
    background-color: black;
}

#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

